<?xml version="1.0"?>
<!--
/**
 * See LICENSE.txt for license details.
 */
-->
<config>
    <modules>
        <MageWare_CheckoutComment>
            <version>1.0.0</version>
        </MageWare_CheckoutComment>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <comment>
                    <to_order>*</to_order>
                </comment>
            </sales_convert_quote>
            <sales_convert_order>
                <comment>
                    <to_quote>*</to_quote>
                </comment>
            </sales_convert_order>
        </fieldsets>
        <resources>
            <mageware_checkoutcomment_setup>
                <setup>
                    <module>MageWare_CheckoutComment</module>
                </setup>
            </mageware_checkoutcomment_setup>
        </resources>
        <blocks>
            <mageware_checkoutcomment>
                <class>MageWare_CheckoutComment_Block</class>
            </mageware_checkoutcomment>
            <checkout>
                <rewrite>
                    <onepage>MageWare_CheckoutComment_Block_Checkout_Onepage</onepage>
                    <onepage_progress>MageWare_CheckoutComment_Block_Checkout_Onepage_Progress</onepage_progress>
                    <multishipping_billing>MageWare_CheckoutComment_Block_Checkout_Multishipping_Billing</multishipping_billing>
                    <multishipping_overview>MageWare_CheckoutComment_Block_Checkout_Multishipping_Overview</multishipping_overview>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_info>MageWare_CheckoutComment_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
        </blocks>
        <models>
            <mageware_checkoutcomment>
                <class>MageWare_CheckoutComment_Model</class>
            </mageware_checkoutcomment>
            <checkout>
                <rewrite>
                    <type_onepage>MageWare_CheckoutComment_Model_Checkout_Type_Onepage</type_onepage>
                    <type_multishipping_state>MageWare_CheckoutComment_Model_Checkout_Type_Multishipping_State</type_multishipping_state>
                </rewrite>
            </checkout>
        </models>
        <helpers>
            <mageware_checkoutcomment>
                <class>MageWare_CheckoutComment_Helper</class>
            </mageware_checkoutcomment>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageWare_CheckoutComment>
                    <files>
                        <default>MageWare_CheckoutComment.csv</default>
                    </files>
                </MageWare_CheckoutComment>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageware_checkoutcomment module="MageWare_CheckoutComment">
                    <file>mageware/checkoutcomment.xml</file>
                </mageware_checkoutcomment>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <MageWare_CheckoutComment before="Mage_Checkout">MageWare_CheckoutComment</MageWare_CheckoutComment>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <MageWare_CheckoutComment>
                    <files>
                        <default>MageWare_CheckoutComment.csv</default>
                    </files>
                </MageWare_CheckoutComment>
            </modules>
        </translate>
        <layout>
            <updates>
                <mageware_checkoutcomment module="MageWare_CheckoutComment">
                    <file>mageware/checkoutcomment.xml</file>
                </mageware_checkoutcomment>
            </updates>
        </layout>
    </frontend>
    <default>
        <mageware_checkoutcomment>
            <general>
                <enabled>0</enabled>
            </general>
        </mageware_checkoutcomment>
    </default>
</config>
